.Header {
  text-align: center;
  background-color: #2EC0C0;
  height: 100px;
  padding: 20px;
  color: white;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.Menu li {
	display: inline-block;
	padding-right: 30px;
}

.Menu li a {
    color: rgb(50, 63, 63);
    text-decoration: none;
}

.Menu li a:hover {
    color: #EEE;
}